<footer class="p-4 md:p-8 lg:p-10 ">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-xl font-semibold ">
            UMB-EasyLearn
        </a>
        <p class="my-6 "></p>
        <ul class="flex flex-wrap justify-center items-center mb-6">
            <li>
                <a class="mr-4 hover:underline md:mr-6 " href="/info">O nás</a>
            </li>

            <li>
                <a class="mr-4 hover:underline md:mr-6 " href="https://angular.io/" target="_blank" >Angular</a>
            </li>

            <li>
                <a class="mr-4 hover:underline md:mr-6 " href="https://tailwindcss.com/" target="_blank" >Tailwind CSS</a>
            </li>

            <li>
                <a class="mr-4 hover:underline md:mr-6 " href="https://github.com/AndrejSub/UmbEasyLearn-fe" target="_blank" >Github</a>
            </li>
        </ul>

        <hr class="my-4 border-gray-200 sm:mx-auto lg:my-6"/>

        <span class="text-sm text-gray-500 sm:text-center">
                © 2024 <a href="#" class="hover:underline">UmbEasyLearn.</a> Všetky práva vyhradené.
                <a href="https://www.employment.gov.sk/sk/informacie-web-sidle/" class="hover:underline">Ochrana osobných údajov</a>
            </span>
         </div>
</footer>