

<section class=" flex justify-center bg-base-200" id="">
    <div class="hero min-h-screen mb-8" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>

</section>

<section class="" id="onas">

    <div class=" ">
        <div class="flex justify-center px-4 py-16 bg-base-200">Hello!</div>
    </div>

</section>

<section class="flex justify-center bg-base-200 " id="predmety">

    <div class="grid grid-cols-3 grid-rows-2 gap-6 content">


        <div class="" >
            <div>
                <a href="" >
                    <img src="assets/images/tzi.png" alt="image"
                         class="transition duration-300 ease-in-out hover:opacity-70 rounded-md">
                </a>
            </div>
        </div>
        <div class="" >
            <div>
                <a href="" >
                    <img src="assets/images/mat.png" alt="image"
                         class="transition duration-300 ease-in-out hover:opacity-70 rounded-md">
                </a>
            </div>
        </div>
        <div class="" >
            <div>
                <a href="" >
                    <img src="assets/images/db1.png" alt="image"
                         class="transition duration-300 ease-in-out hover:opacity-70 rounded-md">
                </a>
            </div>
        </div>
        <div class="" >
            <div>
                <a href="" >
                    <img src="assets/images/algo1.png" alt="image"
                         class="transition duration-300 ease-in-out hover:opacity-70 rounded-md">
                </a>
            </div>
        </div>
        <div class="" >
            <div>
                <a href="" >
                    <img src="assets/images/algo2.png" alt="image"
                         class="transition duration-300 ease-in-out hover:opacity-70 rounded-md">
                </a>
            </div>
        </div>
    </div>

</section>



