<div class="pe-1 bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)]
  shadow-sm">
    <nav class="navbar w-full">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2  shadow bg-base-100 rounded-box w-52">
                    <li><a title="EasyLearn | O nas" href="#onas">O nás</a></li>
                    <li><a title="EasyLearn | Predmety" href="#predmety">Predmety</a></li>
                    <li><a title="EasyLearn | Kontakt" href="#kontakt">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="btn btn-ghost text-xl font-extrabold">UMB-EasyLearn</a>
        <div class="navbar-end">
            <app-theme-switch class="pe-5"></app-theme-switch>

            <div class="dropdown dropdown-end" (mouseenter)="checkLogin()">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component" src="{{getAvatar()}}" />
                    </div>

                </div>
                <div *ngIf="!logedIn; else elseBlock">
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li>
                            <a routerLink="register" class="justify-between">
                                <p>Register</p>
                                <span class="badge">New</span>
                            </a>
                        </li>
                        <li><a routerLink="login">
                            <p>Login</p>
                        </a></li>
<!--                        <li>-->
<!--                            <input type="file" (change)="onFileChange($event)" accept="image/*" class="file-input w-full max-w-xs" />-->
<!--                        </li>-->
                    </ul>
                </div>
                <ng-template #elseBlock>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a routerLink="profile">
                            <p>Profile</p>
                        </a></li>
                        <li>
                            <a (click)="logout()">
                                <p>Logout</p>
                            </a>
                        </li>
                        </ul>
                </ng-template>
            </div>
        </div>
    </nav>
</div>