
<div *ngIf="!end;else endPage" >
    <div class="fl-container">
        <div class="fl-card">
            <div class="front">
                <div class="card-body">
                    <p>{{question}}</p>
                    <div class="card-actions pt-5 justify-center">
                        <button class="btn" (click)="showBackSide()">Ukáž odpoveď</button>
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="card-body">
                    <p>{{answer}}</p>
                    <p>Vedel si odpoved?</p>
                        <div class="card-actions pt-5 justify-center">
                            <button (click)="correctAnswer()" class="btn">Ano</button>
                            <button (click)="wrongAnswer()" class="btn">Nie</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
<!--        <div class="card w-192  text-center text-primary-content">-->
<!--            <div class="card-body">-->
<!--                <p>{{question}}</p>-->
<!--                <div class="card-actions pt-5 justify-center">-->
<!--                    <button class="btn" (click)="showBackSide()">Ukáž odpoveď</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card w-192  text-center text-primary-content">-->
<!--            <div class="card-body">-->
<!--                <p>{{answer}}</p>-->
<!--                <p>Vedel si odpoved?</p>-->
<!--                <div class="card-actions pt-5 justify-center">-->
<!--                    <button (click)="correctAnswer()" class="btn">Ano</button>-->
<!--                    <button (click)="wrongAnswer()" class="btn">Nie</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
</div>
<ng-template #endPage>
    <div class="card h-32 w-192  text-center text-primary-content">
        <div class="card-body ">
            <p>Stlač next pre dalsiu otazku</p>

        </div>
    </div>
</ng-template>