<div class="container mx-auto py-8">

    <h1 class="text-4xl font-bold mb-8 text-center">O nás</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        <!-- Team Member 1 -->
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold mb-2">Adrian Vlčko</h2>
            <p class="text-gray-500 mb-4">Adrian je vášnivým študentom informatiky a do nášho tímu prináša kreativitu a nadšenie. Jeho láska k športu, najmä k basketbalu, podnecuje jeho súťaživého ducha a učí nás hodnote tímovej práce na ihrisku aj mimo neho.</p>
            <p class="text-sm text-gray-400">Študent, športový nadšenec</p>
        </div>

        <!-- Team Member 2 -->
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold mb-2">Andrej Šuba</h2>
            <p class="text-gray-500 mb-4">Andrejova zvedavosť nepozná hranice, pokiaľ ide o technológie. Ako zanietený študent a začínajúci softvérový inžinier sa vždy túži učiť nové programovacie jazyky a skúmať nové technológie.</p>
            <p class="text-sm text-gray-400">Študent, technický maniak</p>
        </div>

        <!-- Team Member 3 -->
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold mb-2">Mykyta Prykhodko</h2>
            <p class="text-gray-500 mb-4">Mykyta je vášniví čitateľ a začínajúci spisovateľ. Vďaka svojej vášni pre rozprávanie príbehov a zmyslu pre detail je neoceniteľným členom nášho tímu. Do riešenia problémov vnáša jedinečný pohľad a povzbudzuje nás k tomu, aby sme mysleli netradične.</p>
            <p class="text-sm text-gray-400">Študent, technický maniak</p>
        </div>

    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Náš príbeh</h2>
        <p class="">V jadre sme tím srdečných ľudí, ktorých spája spoločná cesta na akademickú pôdu a vášeň pre technológie. Vďaka spoločným skúsenostiam s programovaním a vývojom softvéru, ktoré trvajú viac ako 5 rokov, sme hrdí na to, že môžeme prinášať inovatívne riešenia, ktoré prekonávajú očakávania.</p>
        <p class="">Napriek nabitým študentským rozvrhom si vždy nájdeme čas na naše spoločné záujmy. Či už ide o spoločné hranie basketbalu na miestnom ihrisku alebo účasť na technologických workshopoch a hackathonoch, veríme v silu spolupráce a neustáleho vzdelávania.</p>
        <p class="">Našu cestu poháňa zvedavosť, odolnosť a snaha pozitívne ovplyvniť svet. Výzvy prijímame ako príležitosti na rast a snažíme sa vytvárať priaznivé prostredie, v ktorom sa môže každému dariť.</p>
    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Naše hodnoty</h2>
        <ul class="list-disc list-inside">
            <li>Vášeň pre učenie: Veríme v túžbu po vedomostiach a neustálom sebazdokonaľovaní.</li>
            <li>Tímová práca a spolupráca: Ceníme si rozmanitosť a tímovú prácu, pretože vieme, že spoločne môžeme dosiahnuť viac.</li>
            <li>Inovácie a tvorivosť: Podporujeme kultúru inovácií a povzbudzujeme k netradičnému mysleniu.</li>
            <li>Integrita a rešpekt: Dodržiavame vysoké etické normy a ku každému sa správame s úctou a láskavosťou.</li>
            <li>Spoločenstvo a vplyv: Sme odhodlaní pozitívne meniť našu komunitu aj mimo nej.</li>
        </ul>
    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-semibold mb-4">Pridajte sa k nám</h2>
        <p class="">Ste nadšenci do technológií a chcete sa pripojiť k dynamickému tímu? Vždy hľadáme talentovaných ľudí, ktorí zdieľajú naše hodnoty a víziu. Ozvite sa nám ešte dnes!</p>
    </div>

</div>