<button class="btn btn-primary" onclick="my_modal_1.showModal()">Vymazať účet</button>
<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Ahoj!</h3>
        <p class="py-4">Ste si istí, že chcete vymazať svoje konto? Vymazanie sa nedá vrátiť späť.</p>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <div class="flex gap-3">
                    <button class="btn btn-primary" (click)="delete()">Vymazať účet</button>
                    <button class="btn btn-accent">Späť</button>
                </div>
            </form>
        </div>
    </div>
</dialog>