<div class="container ">
    <div  class=" card bg-neutral flex p-10 gap-5">
        <div>
            <h1 class="mb-4 text-4xl p-10 text-neutral-content font-extrabold text-center leading-none tracking-tight md:text-3xl lg:text-4xl ">Profil</h1>
        </div>
            <div class="flex flex-row gap-5" style="align-items: center">
                <div class="avatar">
                    <div class="size-36 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="{{imgurl}}"  alt="NotFound"/>
                    </div>
                </div>
                <div>
                    <h3 class=" text-2xl font-medium">{{userEmail }}</h3>
                    <h4 class=" text-l font-light">Členom od: 27.05.2024</h4>
                </div>

            </div>
        <input type="file" class="file-input" (change)="onFileChange($event)" accept="image/*">


        <div class="history-wrapper">
            <app-history></app-history>
        </div>

        <div class="  flex gap-5" style="height: 6rem;align-items: end">
            <button routerLink="/changepassword" class="btn">Zmeniť heslo</button>
            <app-delete-user></app-delete-user>
        </div>
    </div>
</div>
<br><br><br><br>
