<div *ngFor="let test of tests">
    <div class="diff h-screen">
        <div class="diff-item-1">
            <div class="bg-primary text-primary-content text-8xl font-black grid place-content-center">{{test.testName}}</div>
        </div>
        <div class="diff-item-2">
            <div class="bg-base-200 text-8xl font-black grid place-content-center">{{test.testName}}</div>
        </div>
        <div class="diff-resizer"></div>
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex-auto">Flash cards</h1>
    <div class="flesh-cards-wrapper" *ngIf="test.flashCards && test.flashCards.length > 0">
        <div class="container" *ngFor="let flashCard of test.flashCards">
            <div class="one-flesh-card">
                <div class="front">
                    <h2>Question:</h2>
                    <p>{{ flashCard.question }}</p>
                </div>
                <div class="back">
                    <h2>Answer:</h2>
                    <p>{{ flashCard.answer }}</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex-auto">ABC Questions</h1>
    <div *ngIf="test.abcQuestions && test.abcQuestions.length > 0" class="abc-questions">
        <ul>
            <li *ngFor="let abcQuestion of test.abcQuestions">
                Question: {{ abcQuestion.question }}
                <br>
                Answer A: {{ abcQuestion.a }}
                <br>
                Answer B: {{ abcQuestion.b }}
                <br>
                Answer C: {{ abcQuestion.c }}
                <br>
                <label for="A">A</label>
                <input type="radio" id="A" name="radio-{{abcQuestion.questionID}}" class="radio radio-error" checked />
                <label for="B">B</label>
                <input type="radio" id="B" name="radio-{{abcQuestion.questionID}}" class="radio radio-error" />
                <label for="C">C</label>
                <input type="radio" id="C" name="radio-{{abcQuestion.questionID}}" class="radio radio-error" />
            </li>
        </ul>
    </div>
    <div *ngIf="!test.abcQuestions || test.abcQuestions.length === 0" class="no-abc-questions">
        <p>No abc questions available for this test.</p>
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex-auto">Text questions</h1>

    <div *ngIf="test.textQuestions && test.textQuestions.length > 0" class="text-questions">
        <ul>
            <li *ngFor="let textQuestion of test.textQuestions">
                Question: {{ textQuestion.question }}
                <br>
                Answer: {{textQuestion.answer}}
            </li>
        </ul>
    </div>
    <div *ngIf="!test.textQuestions || test.textQuestions.length === 0" class="no-text-questions">
        <p>No text questions available for this test.</p>
    </div>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white flex-auto">Practical questions</h1>
    <div *ngIf="test.practicalQuestions && test.practicalQuestions.length > 0" class="practical-questions">
        <ul>
            <li *ngFor="let practicalQuestions of test.practicalQuestions">
                Question: {{ practicalQuestions.zadanie }}
                <div class="mockup-code">
                    <pre data-prefix="$"><input class="xl:bg-transparent"></pre>
                </div>
                <br>
                Answer: {{practicalQuestions.riesenie}}
                <br>
                Zdroje: {{practicalQuestions.zdroje}}
            </li>
        </ul>
    </div>
    <div *ngIf="!test.practicalQuestions || test.practicalQuestions.length === 0" class="no-practical-questions">
        <p>No text questions available for this test.</p>
    </div>
</div>
